<svg
  width="125"
  height="125"
  viewBox="0 0 500 500"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns="http://www.w3.org/2000/svg"
>
  <defs
    id="defs1">
    <linearGradient
      id="linearGradient9"
    >
      <stop
        style="stop-color:#000000;stop-opacity:0;"
        offset="0.63895488"
        id="stop10"/>
      <stop
        style="stop-color:#ffffff;stop-opacity:0.5;"
        offset="0.88598573"
        id="stop9"/>
    </linearGradient>
  </defs>
  <circle
    style="fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:4;stroke-opacity:0.5"
    id="Back"
    cx="250"
    cy="250"
    [attr.r]="backCircleRadius"
  />
  <circle
    style="fill:var(--bs-body-bg); stroke: var(--bs-body-color); stroke-width: 2px"
    id="Stick"
    [attr.cx]="horizontalPosition"
    [attr.cy]="verticalPosition"
    r="90"
  />
  <circle
    style="fill:transparent;stroke:#ffffff;stroke-width:12;stroke-opacity:0.5"
    id="Stick"
    [attr.cx]="horizontalPosition"
    [attr.cy]="verticalPosition"
    r="90"
  />
  <circle
    class="blip"
    style="fill:var(--bs-body-color);stroke:#ffffff;stroke-width:12;stroke-opacity:0.5"
    id="Stick"
    [attr.cx]="blipPosition[0]"
    [attr.cy]="blipPosition[1]"
    r="10"
  />
</svg>
<pre>
  xv {{ horizontalValue }}
  yv {{ verticalValue }}
  xp {{ horizontalPosition }}
  yp {{ verticalPosition }}
  r {{ angle }}
</pre>
