<svg
  width="125"
  height="125"
  viewBox="0 0 500 500"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns="http://www.w3.org/2000/svg"
>
  <defs
    id="defs1">
    <linearGradient
      id="linearGradient9"
      >
      <stop
        style="stop-color:#000000;stop-opacity:0;"
        offset="0.63895488"
        id="stop10" />
      <stop
        style="stop-color:#ffffff;stop-opacity:0.5;"
        offset="0.88598573"
        id="stop9" />
    </linearGradient>
    <radialGradient
      xlink:href="#linearGradient9"
      id="radialGradient10"
      [attr.cx]="horizontalPosition"
      [attr.cy]="verticalPosition"
      [attr.fx]="horizontalPosition"
      [attr.fy]="verticalPosition"
      r="92"
      gradientUnits="userSpaceOnUse" />
  </defs>
  <circle
    style="fill:none;fill-opacity:1;stroke:#ffffff;stroke-width:4;stroke-opacity:0.5"
    id="Back"
    cx="250"
    cy="250"
    r="223"
  />
  <g
    id="StickAndArrow">
    <path
      id="Arrow"
      style="fill:none;stroke:#ffffff;stroke-width:4;stroke-opacity:0.5"
      d="m 249.2011,87.133256 28.75397,57.507934 h -57.50794 z" />
    <circle
      style="fill:url(#radialGradient10);fill-opacity:1;stroke:#ffffff;stroke-width:4;stroke-opacity:0.5"
      id="Stick"
      [attr.cx]="horizontalPosition"
      [attr.cy]="verticalPosition"
      r="90"
    />
  </g>
</svg>
<pre>
  x {{horizontalValue}}
  y {{verticalValue}}
  h {{horizontalPosition}}
  v {{verticalPosition}}
</pre>
