<div class="container" *ngIf="inputControllers$">
  <article>
    <h2>Checks</h2>
    <ul>
      <li>Secure context? {{isSecureContext}}</li>
      <li>Browser support? {{(supportedByBrowser === undefined) ? '...' : supportedByBrowser}}</li>
    </ul>
  </article>
  <article>
    <input type="button" (click)="refresh()" value="Force refresh">
    <h2>List of controllers ({{ (inputControllers$ | async)?.length }})</h2>
    <div *ngFor="let inputController of (inputControllers$ | async)">
    <pre>
      {{inputController.kind}}
      {{inputController.id}}
      <ng-container *ngFor="let axis of inputController.axes">
        -{{axis.index}}
      </ng-container>
    </pre>
    </div>
  </article>
</div>
