<div class="container">
  <article>
    <h2>Checks</h2>
    <ul>
      <li>Secure context? {{isSecureContext}}</li>
      <li>Browser support? {{(supportedByBrowser === undefined) ? '...' : supportedByBrowser}}</li>
    </ul>
  </article>
  <article>
    <h2>Axes</h2>
    <p>Debug tick: {{intervalIndex}}</p>
    <pre>
      {{ axesDebug }}
    </pre>
  </article>
  <article>
    <h2>Buttons</h2>
    <p>Debug tick: {{intervalIndex}}</p>
    <pre>
      {{ buttonsDebug }}
    </pre>
  </article>
</div>
