<h2>Input Controllers</h2>
<div class="container d-flex flex-row">
  <div class="" *ngFor="let controller of (inputControllers$ | async)">
    <div class="card m-2" style="min-width: 18rem">
      <div class="card-header">
        {{ controller.id }}
      </div>
      <div class="card-body">
        <div class="container">
          <p>
            Polling: {{ controller.pollingRate === 'no-polling' ? 'none' : controller.pollingRate + 'ms' }}
          </p>
          <div class="col-12 col-md-6">
            <h5>Axes</h5>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Value</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let axis of controller.axes">
                <td>{{ axis.index }}</td>
                <td>{{ (axis.value | async) }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="container">
          <div class="col-12 col-md-6">
            <h5>Buttons</h5>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Value</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let button of controller.buttons">
                <td>{{ button.index }}</td>
                <td>{{ (button.value | async) }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
