<div class="card m-2" style="min-width: 18rem">
  <ng-container *ngIf="ready">

    <div class="card-header">
      <input type="text" [formControl]="nameControl" class="w-100">
    </div>
    <div class="card-body">
      <dl>
        <dt>Polling</dt>
        <dd>{{ controller.pollingRate === 'no-polling' ? 'none' : controller.pollingRate + 'ms' }}</dd>
        <dt>Id</dt>
        <dd>{{ controller.id }}</dd>
      </dl>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 p-0 p-md-3" style="border-right: 1px solid">
            <h5>Axes</h5>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Value</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let axis of axes">
                <td>{{ axis.name }}</td>
                <td>
                  <app-visualizer-slider [value]="(axis.value | async)"></app-visualizer-slider>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 col-md-6 p-0 p-md-3" style="max-width: 200px">
            <h5>Buttons</h5>
            <div class="d-flex flex-wrap">
              <div *ngFor="let button of buttons">
                <app-visualizer-button [value]="button.name" [buttonActive]="(button.value | async)">
                </app-visualizer-button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 p-0 p-md-3">
            <!-- TODO PDB: don't show this if < 2 axis -->
            <h5>Thumbsticks</h5>
            <div *ngFor="let thumbStick of thumbsticks">
              <h6 [innerText]="thumbStick.name"></h6>
              <app-visualizer-thumbstick [thumbStick]="thumbStick"></app-visualizer-thumbstick>
            </div>
            <div>
              <button class="btn btn-link">Create thumbstick</button>
            </div>
          </div>
          <div class="col-12 col-md-6 p-0 p-md-3">
            <!-- TODO PDB: don't show this if < 4 buttons -->
            <h5>Directional Pads</h5>
            <div *ngFor="let directionalPad of directionalPads">
              <h6 [innerText]="directionalPad.name"></h6>
              <app-visualizer-directional-pad [directionalPad]="directionalPad">
              </app-visualizer-directional-pad>
            </div>
            <div>
              <button class="btn btn-link">Create d-pad</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
