$size: 2rem;

.visualizer-button {
  border: 1px solid white;
  width: $size;
  height: $size;
  margin: 0.1rem;
  text-align: center;
  background-color: transparent;
  transition-property: background, color;
  transition-duration: 300ms;
  color: var(--bs-body-color);
  &.active {
    color: var(--bs-body-bg);
    background-color:var(--bs-body-color);
  }
}
