/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

input {
  border: 0;
  border-bottom: 1px solid var(--bs-primary-border-subtle);
  background: transparent;
}
